* {
  margin: 0;
  padding: 0;
}

/* google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* shared style */
body {
  font-family: "Inter";
  /* font-family: "Noto Serif"; */
}
.section-title {
  font-family: "Noto Serif";
  font-size: 2.4rem;
}
span {
  color: #e95a08;
}
p {
  color: gray;
  font-size: 14px;
}
button {
  background-color: #e95a08;
  padding: 5px;
  width: 100%;
  border: none;
  color: white;
}

/* navbar  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px auto 40px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin: 0 10px;
}
.black {
  color: black;
}
nav ul li a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}
.logo-container {
  width: 100px;
}
.logo-container img {
  width: 100%;
  height: 100%;
}
/* banner section */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 80%;
  margin: 40px auto;
}
.banner-container h1 {
  font-size: 3rem;
}
.banner-container p {
  color: gray;
  margin-top: 10px;
  font-size: 14px;
}
.banner-img {
  width: 40%;
}
.banner-img img {
  width: 100%;
  height: 100%;
}
/* our-plants */
.our-plants h3 {
  text-align: center;
}
.our-plants p {
  text-align: center;
}
.our-plants {
  width: 80%;
  margin: 40px auto;
}
.plant-cart-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}
.plant-cart {
  width: 100%;
}
.plant-cart img {
  width: 100%;
  height: 100%;
}
.plant-cart p {
  font-size: 14px;
  color: black;
  padding: 10px 0;
  text-align: center;
}
.plant-cart h6 {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
}
/* responsive design */

@media screen and (max-width: 576px) {
  /* shared style */
  .hidden {
    display: none;
  }
  .section-title {
    font-family: "Noto Serif";
    font-size: 1.5rem;
  }
  /* navbar */
  nav,
  .banner-container {
    width: 90%;
  }
  /* banner section */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-container h1 {
    font-size: 2rem;
  }
  .banner-img {
    width: 100%;
    margin-bottom: 10px;
  }
}
